<!DOCTYPE html>
<html>
    <head>
        <title>Template</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../css/courseworkdescription.css">

    </head>
    <body >
        <div class="menu">
        {{{header}}}</div>
        <div class="container">
        {{{body}}}
        </div>
    </body>
</html>